.body-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto 0;
}

header {
    display: flex;
    height: 250px;
    width: 100%;
}

@media (max-width: 800px) {
    .body-wrapper {
        max-width: 98%;
    }
}
